{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bassel Allam</title>
<meta name="description" content="I'm a Technical Lead and Instructor with 5 years of experience in software development. I have hands-on experience efficiently coding websites and mobile applications using modern programming language, Python, Django, Dart, Flutter , PostgreSQL other using graphics tools, etc.">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="android-chrome" sizes="512*512" href="{% static 'img/android-chrome-512x512.png' %}">
<link rel="android-chrome" sizes="192*192" href="{% static 'img/android-chrome-192x192.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
{% comment %} <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script> {% endcomment %}

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Bassel Allam</h1>
          <hr>
          <p>Technical Lead • Instructor • In Love with Learning</p>
          <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a>
          <a href="#" class="btn btn-default btn-lg page-scroll">Verify Certification</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#courses">Courses</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#gallery">Gallery</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="{% static 'img/pp.jpg' %}" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p>I'm a Technical Lead and Instructor with +5 years of experience in software development.</p>
          <p>I have hands-on experience efficiently coding websites and mobile applications using modern programming language, Python, Django, Dart, Flutter , PostgreSQL other using graphics tools, etc.</p>
          <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div>
  </div>
</div>

<!-- Courses Section -->
<div id="courses">
  <div class="container">
    <div class="section-title text-center center">
      <br></br>
      <h2>Courses</h2>
      <hr>
    </div>
    <div class="row">
      <div class="courses-section">
      {% for i in courses %}
      <div class="course-item">
        <img src="{{ i.course_image.url }}" class="course-img">
        <div class="course-data">
            <h5> {{ i.course_category }} </h5>
            <h2> <a href="{{ i.course_link }}" class="course-head-txt"> {{ i.course_title }} </a> </h2>
            <div class="course-data-bottom">
            <ul class="course-data-bottom">
                <li class="course-li">
                    <i class="material-icons" style="color:indigo">watch</i>
                </li>
                <li>
                    <h4 style="color:indigo">{{ i.course_hours }} Hours</h4> 
                </li>
            </ul>
            <ul class="course-data-bottom">
                <li  class="course-li">
                    <i class="material-icons" style="color:indigo">money</i>
                </li>
                <li>
                    <h4 style="color:indigo">700 USD</h4> 
                </li>
            </ul>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
<br></br>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Mobile Dev</a></li>
            <li><a href="#" data-filter=".web">Web Dev</a></li>
            <li><a href="#" data-filter=".mobile">ERP</a></li>
            <li><a href="#" data-filter=".mobile">Graphic Design</a></li>
            <li><a href="#" data-filter=".mobile">Multi Serivce</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
      {% for i in portfolio %}
        <div class="col-sm-6 col-md-3 col-lg-3 graphic">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{ i.portfolio_image.url }}" title="{{ i.portfolio_description }}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>{{ i.portfolio_title }}</h4>
              </div>
              <img src=" {{ i.portfolio_image.url }} " class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% comment %} <!-- Testimonial Section -->
<div id= "testimonials">
  <div class="container">
    <div class="section-title text-center center">
      <br> </br>
      <h2>Testimonials</h2>
      <hr>
    </div>
    <div>
      <ul class="testimonial-row">
        {% for i in count %}
        <li>
          <div class="review-border-box">
              <div class="review-cart">
                  <div class="review-text-head">
                       the best instructor i have ever met, i was need a monitor who's can help me achive my
                       career goals and he provided all things needed and was helpful
                  </div>
                  <h3> Client Name </h3>
                  <h4> ⭐️⭐️⭐️⭐️⭐️ </h4>
              </div>
          </div>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div> {% endcomment %}
<!-- Gallery Section -->
<div id="gallery">
  <div class="container">
    <div class="section-title text-center center">
      <br></br>
      <h2>Gallery</h2>
      <hr>
    </div>
    <div class="row">
      <div>
      {% for i in gallery %}
        <div class="col-sm-6 col-md-3 col-lg-3 graphic">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{ i.image.url }}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>With heros</h4>
              </div>
              <img src="{{ i.image.url }}" class="img-responsive"> </a> </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
    <div class="contact-box">
      <ul>
        <li class="contact-li">
          <i class="material-icons" style="color:#555">location_on</i>
          <h4> Sheraton Helipolis, Cairo, Egypt </h4>
        </li>
        <li class="contact-li">
          <i class="material-icons" style="color:#555">phone</i>
          <h4> +20 1091674497 </h4>
        </li>
        <li class="contact-li">
          <i class="material-icons" style="color:#555">email</i>
          <h4> info@basselallam.com </h4>
        </li>
      </ul>
    </div>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="https://github.com/BaselAllam"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bassel-allam-012b65b3/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/@bassel_allam"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; <a href="http://www.basselallam.com" rel="nofollow">Bassel Allam</a>  All Rights Reserved. TAX-NO: 694-357-944</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>